@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Memo

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Está seguro de que desea borrar esto?</h3>
<div>
    <h4>Memo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Contenido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt>
            Contenido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
