@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Memo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Memo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Titulo)
        </dd>

        <dt>
            Contenido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MemoID }) |
    @Html.ActionLink("Volvert", "Index")
</p>
