@model Hiriart_Corales_MVCWebApp_AgendaPersonal.Models.Serie

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Serie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SerieID }) |
    @Html.ActionLink("Volver", "Index")
</p>
