@{
    ViewBag.Title = "Sobre la App";
    ViewBag.Message = "Información sobre este sitio web";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicación web fue hecha usando el framework MVC de ASP.NET, con la meotología Code First.<br />
   Los autores de este proyecto son Diego Hiriart y Luis Corales, para la materia de Programación IV</p>
<p>Acceda al codigo fuente de la App: <br/>
    <a href="https://github.com/Diego-Hiriart/Hiriart-Corales_MVC">Github</a><br />
    <a href="https://udlaec-my.sharepoint.com/:f:/g/personal/diego_hiriart_udla_edu_ec/Ei2o67_678tDnNN4dJ-J4RsBf6yzTaVgbEluf3PRdhGMig?e=bpxKHR">
    OneDrive (UDLA)</a></p>
