@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "Información de contacto de los desarrolladores";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad de las Américas - UDLAPARK<br />
    Redondel del Ciclista, Antigua Vía a Nayón<br />
    Quito EC 170124<br />
    <abbr title="Teléfono">Tlf:</abbr>
    +593 02 3981000
</address>

<address>
    <strong>Soporte:</strong>  <br />
    <a href="mailto:diego.hiriart@udla.edu.ec">diego.hiriart@udla.edu.ec</a><br />
    <a href="mailto:luis.corales.martinez@udla.edu.ec">luis.corales.martinez@udla.edu.ec</a><br />
</address>