@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Agenda Personal - Web App</h1>
    <p class="lead">Esta aplicación web de ASP.NET está desarrollada en un framework MVC; haciendo uso, sobre todo, de C# y html.</p>
    <p><a href="\Home\About" class="btn btn-primary btn-lg">Vea más información sobre la app &raquo;</a></p>
    <p><a href="\Home\Contact" class="btn btn-primary btn-lg">Contacte a los desarrolladores &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestione sus eventos</h2>
        <p>
            La aplicación de agenda personal que está usando, le permite adminsitrar su cronograma
            haciendo uso de eventos. Puede crear y editar eventos para mantener su calendario en orden.
        </p>
        <p><a class="btn btn-default" href="\Eventos">Eventos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registre sus actividades diarias</h2>
        <p>Mantenga un registro de todos los acontecimietnos importantes de su día día, haciendo uso de la función de diario/bitácora.</p>
        <p><a class="btn btn-default" href="\Diarios">Diario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administre sus contactos</h2>
        <p>Puede almacenar la información que necesite sobre sus contactos, así como vincularlos a entradas de diario/bitácora y eventos.</p>
        <p><a class="btn btn-default" href="\Contactos">Contactos &raquo;</a></p>
    </div>
</div>