@{
    ViewBag.Title = "Prueba Nav";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Quito<br />
    Batan Bajo<br />
    <abbr title="Phone">P:</abbr>
    420.069.0100
</address>

<address>
    <strong>Supporto:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketinge:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>